anyio
asgiref
autopep8
certifi
cffi
click
colorama
cryptography
fastapi
greenlet
h11
idna
pycodestyle
pycparser
pydantic
PyMySQL
sniffio
SQLAlchemy
starlette
toml
typing_extensions
uvicorn
wincertstore
python-dotenv